/* ==================================================================
  BASICS
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

.table th.min {
  white-space: nowrap;
  width: 1%;
}

/* ==================================================================
 COLORS
*/

.bg-fat {
  background-color: #f1c23280 !important;
}

.bg-carb {
  background: #cc000080 !important;
}


.bg-protein {
  background-color: #6aa84f80 !important;
}
